html {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
    margin: 7px;
    padding: 7px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    width: 18%;
}

li div {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

li div:hover {
    background-color: rgb(218, 172, 172);
}

#nav {
    height: 2%;
}

#start {
    width: 10%;
    height: 100%;
}

#logo {
    height: 30%;
    width: 30%;
}

#mainContainer {
    display: flex;
    flex-direction: row;
}

#leftContainer {
    width: 50%;
}

#rightContainer {
    width: 50%;
    height: 100%;
}

#buttons {
    padding: 7px;
    margin: 7px;
}

#options,
#price {
    padding: 7px;
    margin: 7px;
    border: 5px solid black;
    border-radius: 35px;
}

#pizza {
    padding: 7px;
    margin: 7px;
    background-image: url(Images/Crust/Crust.png);
    background-size: cover;
    height: 350px;
    width: 350px;
    background-repeat: no-repeat;
}

.btn,
.left,
.right,
.full,
.none {
    background-color: #989898;
    border: 1px solid black;
    color: black;
    margin: 7px;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    user-select: none;
}

#basicoptions,
#toppingoptions {
    display: flex;
    flex-direction: column;
}

#sizes,
#sauces,
#cheese,
#pepperoni,
#bacon,
#chicken,
#ham,
#sausage,
#bananapeppers,
#olives,
#jalapenos,
#mushrooms,
#pineapple {
    display: flex;
    flex-direction: row;
    margin: 7px;
    padding: 7px;
}

.left {
    height: 25px;
    width: 25px;
    background-image: url('Images/Button/left.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.right {
    height: 25px;
    width: 25px;
    background-image: url('Images/Button/right.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.full {
    height: 25px;
    width: 25px;
    background-image: url('Images/Button/full.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.none {
    height: 25px;
    width: 25px;
    background-image: url('Images/Button/none.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#toppingoptions {
    display: none;
}