html {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
    margin: 7px;
    padding: 7px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    width: 18%; 
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(218, 172, 172);
}

#logo{
    color: white;
    width: 10%;
}

#mainContainer {
    display: flex;
    flex-direction: row;
}

#leftContainer {
    width: 50%;
}

#rightContainer {
    width: 50%;
}

#buttons {
    padding: 7px;
    margin: 7px;
}

#options {
    padding: 7px;
    margin: 7px;
    border: 5px solid black;
    border-radius: 35px
}

#pizza {
    padding: 7px;
    margin: 7px;
}

#price {
    padding: 7px;
    margin: 7px;   
    border: 5px solid black;
    border-radius: 35px
}

button {
    background-color:#989898;
    border: 1px solid black;
    color: black;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

